<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hsd.student">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CfojaEmlF1rpyyQQZem4nGCj63OC20ua" />

        <activity
            android:name="cn.hsd.MainActivity.wqj_ID_MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.logcat.sds_Logcat_Activity" />
        <activity android:name=".activity.logcat.sds_Logcat_fabiaoLogcat" />
        <activity android:name="cn.hsd.login.wqj_FTea_LoginActivity" />
        <activity
            android:name=".activity.StudentMain.StudentActivity"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity android:name="cn.hsd.login.wqj_YA_LoginActivity" />
        <activity android:name="cn.hsd.login.wqj_XA_LoginActivity" />
        <activity android:name=".activity.leava.Gxq_apply_message" />
        <activity android:name=".activity.sqyxsxs.qmf_ApplyTrainee" />
        <activity android:name=".activity.leava.Gxq_apply_main" />
        <activity android:name=".activity.logcat.sds_xssum_Activitysum" />
        <activity android:name=".activity.sqyxsxs.qmf_ApplyCon" />
        <activity
            android:name="cn.hsd.login.wqj_Stu_LoginActivity"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity android:name="cn.hsd.login.wqj_ZTea_LoginActivity" />
        <activity android:name=".activity.login.InfoActivity" />

        <receiver android:name=".activity.logcat.receiver">
            <intent-filter>
                <action android:name="com.wqj.student" />
                <data android:scheme="wqj" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ChangeInfo.ChangeInfoActivity" />
        <activity android:name=".activity.Settings.SettingsActivity" />
        <activity android:name="cn.hsd.tutor.cxsxzj.CksxzjActivity" />
        <activity android:name="cn.hsd.tutor.Stu_log.VistlogActivity" />
        <activity android:name=".activity.AboutUs.AboutUsActivity" />
        <activity android:name=".message.Qxx_BaseActivity" />
        <activity android:name=".message.Qxx_ReplyActivity" />
        <activity android:name=".message.Qxx_WriteActivity" />
        <activity android:name=".message.Qxx_MessageActivity" />
        <activity android:name="cn.hsd.tutor.gxq_teacher.gxq_teacher_Activity" />
        <activity android:name="cn.hsd.tutor.gxq_teacher.Apply_gxqshow_Activity">

        </activity>

    </application>

</manifest>